body{
    margin: 0;
    background: #4D2DCB;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.container{
    width: 100%;
    margin: 0 auto;
    z-index: 2;
}

#header-background{
    width: 100%;
    height: 100%;
    background: url('https://pixabay.com/photos/nature-landscape-field-heaven-2531761/');
}

header{
    background: #BDB13A; 
    position: relative;
    height: 100%;
}


header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    padding: 10px;
    z-index: 1;
}

nav{
    float: right;
}

nav ul{
    margin: 2;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 60px;
    padding-top: 15px;
}

nav a{
    font-size: large;
    color: black;
    text-decoration: none;
}

nav a:hover{
    color: gray;
}

input{
    position: relative;
    width: 190px;
    height: 25px;
}

.sidenav{
    height: 50%;
    width: 200px;
    margin: 5px;
    position: relative;
    z-index: 3;
    top: 0;
    left: 7px;
    background-color: lightgray;
    overflow-x: hidden;
    padding-top: 10px;
    border-radius: 5%;
    border-style: solid;
    border-color: black;
}

.middlevideo{
    width: 340px;
    height: 250px;
    float: right;
    position: relative;
    top: -269px;
    right: 20px;
}

.apparel{
    height: 50%;
    width: 200px;
    margin: 14px;
    padding: 5px;
    z-index: 3;
    border-style: solid;
    border-radius: 5%;
    background-color: lightgray;
}

.attractions{
    color: black;
    background-color: lightgray;
    position: relative;
    border-style: solid;
    left: -20px;
    top: -790px;
    width: 66%;
    margin: 260px;
    text-align: center;    
    padding: .5%;  
}

#history{
    background-color: lightgray;
    position: relative;
    border-style: solid;
    color: black;
    padding: 5px;
    text-align: center;
    margin: 260px;
    top: -999px;
    width: 66.3%;
    left: -16px;
}

footer{
    background-color: #BDB13A;
    position: relative;
    text-align: center;
    top: auto;
    padding: .5em 1.0em;
    height: auto;
}

#legalFooter{
    background-color: #BDB13A;
    position: relative;
    height: 50px;
    text-align: center;
    font-size: 1.1em;
    color: black;
}

footer ul li{
    display: inline-block;
    list-style: none;
    margin: 0 0 0 1.0em;
}

footer{
    content: "| ";
    padding: 1.0em;
}
